<h1>Editing Question</h1>

<%= bootstrap_form_for @question do |f| %>
  <%= render 'form_html' %>
<% end %>
<br><br>

<%= content_for :right_nav do %>
  <li><%= link_to 'Show', @question %></li>
  <li><%= link_to 'Back', questions_path %></li>
<% end %>
