<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= content_for :nav do %>
  <li><%= link_to 'Back', :back %></li>
<% end %>
<%= content_for :right_nav do %>
  <li><%= link_to 'Edit', edit_user_registration_path %></li>
<% end %>
