<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @option.question_id %>
</p>

<p>
  <strong>Query:</strong>
  <%= @option.query %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
