$("#option_<%= @vote.votable_id %>_votes").text("");
$("#option_<%= @vote.votable_id %>_votes").append("<%= Option.find(@vote.votable_id).votes.length %>")
$("#option_<%= @vote.votable_id %>_vote_form").remove();
$("#option_<%= (@vote.votable.question.options.reject { |option| option == @vote.votable }).first.id %>_vote_form").remove();


$("#flash_notice").append("<div class='flash alert alert-success alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><span id='notice'><%= notice %></span></div>")
window.setTimeout(function() { $(".flash").alert().slideUp(); }, 5000);
